profiles {
    local {
        process.executor = 'local'
        singularity.enabled = true
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'defaultq'
        }

        // Executor settings
        executor {
            name = 'slurm'
            queueSize = 100
            submitRateLimit = '2 sec'
        }

        singularity.enabled = true
    }

    parcc {
        apptainer.enabled = true

        process {
            executor = 'slurm'
            queue = 'genoa-std-mem'
            clusterOptions = '--qos=genoa-std --time=16:00:00'
            beforeScript = 'module load apptainer'
            errorStrategy = { task.exitStatus in [15, 54] ? 'retry' : 'finish' }
            maxRetries = 5

            withName: COUNT_VARIANTS {
                beforeScript = 'module load bcftools'
            }

            withName: CONVERT_TO_GDS {
                beforeScript = 'module load apptainer'
            }
        }
    }

    pngc_defq {
        singularity.enabled = true

        process {
            executor = 'slurm'
            queue = 'defq'
            clusterOptions = '--qos=high'
            beforeScript = 'export PATH=/applications/singularity/4.1.1/bin:$PATH'
            errorStrategy = { task.exitStatus in [54] ? 'retry' : 'finish' }
            maxRetries = 3
        }
        executor {
            queueSize = 35
            // Stay under 150 CPU limit (~4 CPU per job)
            submitRateLimit = '2 sec'
        }
    }
    pngc_pngcq {
        singularity.enabled = true

        process {
            executor = 'slurm'
            queue = 'pngcq'
            clusterOptions = '--qos=normal'
            beforeScript = 'export PATH=/applications/singularity/4.1.1/bin:$PATH'
            errorStrategy = { task.exitStatus in [54] ? 'retry' : 'finish' }
            maxRetries = 3
        }
    }

    test {
        params.sample = 'test_sample'
        params.project_id = '999'
        params.outdir = './test_results'
        params.enable_tracking = false
    }
}
