// nextflow.config

cleanup = true

// Resource defaults
params {
    threads = 3

    input_csv = null
    // samplesheet CSV
    input_s3 = null
    // S3 glob pattern 
    outdir = null
}

process {
    executor = 'local'

    // Default resources
    cpus = 1
    memory = 1.GB
    time = 1.h

    withName: COUNT_VARIANTS {
        cpus = 1
        memory = 1.GB
    }


    withName: CONVERT_TO_GDS {
        cpus = params.threads
        memory = { 10.GB * task.attempt }
        time = 48.h
    }
}

includeConfig 'my_profiles.config'

// contianer settings
singularity {
    enabled = false
    autoMounts = true
    runOptions = '-B $HOME/.aws:$HOME/.aws'
}

apptainer {
    enabled = false
    autoMounts = true
    runOptions = '-B $HOME/.aws:$HOME/.aws'
}

// AWS S3 settings
aws {
    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadMaxThreads = 10
        uploadChunkSize = '100MB'
    }
}

// Execution reports (optional)
timeline {
    enabled = true
    file = "${params.outdir}/reports/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/reports/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/reports/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,%mem,rss,peak_rss'
}

// ========== Manifest ==========
manifest {
    name = 'vcf-to-gds'
    author = 'Otto Valladares'
    description = 'Convert VCF files to GDS format'
    version = '1.0.0'
    nextflowVersion = '>=23.10.0'
}
