// nextflow.config

cleanup = true

// Resource defaults
params {
    threads = 3
    container = "${HOME}/images/r-base-gds-fuse-digest.4.5.1.sif"

    // S3 defaults (override on command line)
    input = null
    outdir = null
}

process {
    executor = 'slurm'

    // Default SLURM settings (can be overridden per-process)
    queue = 'genoa-std-mem'
    clusterOptions = '--qos=genoa-std --account=yyee-processing-whole-genomes --time=30:00:00'

    errorStrategy = { task.exitStatus in [54,140, 143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries = 2
    maxErrors = '-1'

}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--home $PWD'
}

// Optional: specify work directory
// workDir = '/path/to/scratch/work'

// Execution reports (optional)
timeline {
    enabled = true
    file = "${params.outdir}/reports/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/reports/report.html"
    overwrite = true

}

trace {
    enabled = true
    file = "${params.outdir}/reports/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,%mem,rss,peak_rss'
}


// ========== Tower Integration ==========
tower {
    enabled = true
    // accessToken set via TOWER_ACCESS_TOKEN env variable or here:
//    accessToken = ''
//    woekspaceId = ''
}

// ========== Manifest ==========
manifest {
    name = 'vcf-to-gds'
    author = 'Otto Valladares'
    description = 'Convert VCF files to GDS format'
    version = '1.0.0'
    nextflowVersion = '>=23.10.0'
}
